{% extends "layout.html" %}

{% block content %}

<h2 class="text-primary text-center">{{ title }}</h2>

<p class="text-secondary">
    The idea behind this group is simple - to meet strangers and play games.<br />
    <br />
    No special requirements, take all comers - just come out and play games and meet people. Easy as that!<br />
    <br />
    This city is WAY too big for so many people struggling to make friends, so all I offer is a medium to do that. What I will generally do is pick a place, likely a local restaurant, bar, pub, 
    cafe on the eastern side of the Greater Nashville area, then set a date and time to meet there. I'll bring a couple armfuls of games, and anyone is welcome to bring whatever they like. As of right now, 
    anyone can create an event under the condition that it's at a public establishment and involves gaming somehow (trivia counts!).
</p>

{% endblock %}
