{% extends "layout.html" %}

{% block content %}

<h2 class="text-primary text-center">{{ title }}</h2>

<p class="text-secondary">
    GONG has many dedicated members, however the lion share of organization, hosting, and event planning is left to our two fearless leaders, Tim and JK. While the group continues to flourish due to it's many
    dedicated regulars it would not have been possible if their wives had not told them they had to go out in the world and make more friends to play these silly games.
</p>
<div class="row">
    <div class="col-md-6">
        <figure>
            <img class="figure-img img-fluid rounded" src="../static/Pics/jk.jpg" />
            <figcaption class="figure-caption">
                JK Keller <br />
                <strong>Email: </strong>Insert email or whatever
            </figcaption>
        </figure>
    </div>
    <div class="col-md-6">
        <figure>
            <img class="figure-img img-fluid rounded w-75" src="../static/Pics/tim.jpg" />
            <figcaption class="figure-caption">
                Tim Knowles <br />
                <strong>Email: </strong>Insert email or whatever
            </figcaption>
        </figure>
    </div>
</div>
{% endblock %}
