{% extends "layout.html" %}

{% block content %}

    <div class="row p-2">
        <div class="col-lg-4">
            <figure>
                <img class="figure-img img-fluid rounded" src="../static/Pics/game-play.jpeg" />
                <figcaption class="figure-caption text-primary">
                    Games!
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4">
            <figure>
                <img class="figure-img img-fluid rounded" src="../static/Pics/events.jpg" />
                <figcaption class="figure-caption text-primary">
                    Events!
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4">
            <figure>
                <img class="figure-img img-fluid rounded" src="../static/Pics/shirt.jpg" />
                <figcaption class="figure-caption text-primary">
                    Merch!
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 text-center text-primary">
            <h2>We play board games....and other stuff</h2>
        </div>
    </div>

{% endblock %}
