{% extends "layout.html" %}

{% block content %}

    <div class="row p-2">
        <div class="col-lg-4">
            <img class="d-block w-75" src="../static/Pics/game-play.jpeg" />
        </div>
        <div class="col-lg-4">
            <img class="d-block w-100" src="../static/Pics/events.jpg" />
        </div>
        <div class="col-lg-4">
            <img class="d-block w-75" src="../static/Pics/shirt.jpg" />
        </div>
    </div>
    <div class="row p-2">
        <div class="col-4 offset-1">
            <h2>Games!</h2>
        </div>
    </div>




{% endblock %}
