{% extends "layout.html" %}

{% block content %}

<h2 class="text-primary text-center">{{ title }}</h2>

<!--I think a grid of thumbnails might do better for now. Some day I'll figure out carousels, but today ain't that day.-->

<div class="row p-2 bg-dark m-2" style="height: 260px">
    <div class="col-3 align-middle">
        <figure>
            <img class="img-thumbnail img-fluid rounded" src="../static/Pics/shirt.jpg" />
            <figcaption class="figure-caption text-white">
                Shirt 1: $19.95
            </figcaption>
        </figure>
    </div>
    <div class="col-3">
        <figure>
            <img class="img-thumbnail img-fluid rounded" src="../static/Pics/shirt.jpg" />
            <figcaption class="figure-caption text-white">
                Shirt 2
            </figcaption>
        </figure>
    </div>
    <div class="col-3">
        <figure>
            <img class="img-thumbnail img-fluid rounded" src="../static/Pics/shirt.jpg" />
            <figcaption class="figure-caption text-white">
                Shirt 3
            </figcaption>
        </figure>
    </div>
    <div class="col-3">
        <figure>
            <img class="img-thumbnail img-fluid rounded" src="../static/Pics/shirt.jpg" />
            <figcaption class="figure-caption text-white">
                Shirt 4
            </figcaption>
        </figure>
    </div>
</div>

{% endblock %}
